<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="title" content="Городские ремонты - Официальный сайт">
        <meta name="description" content="Ремонты квартир и домов на КМВ. Под ключ и не только.">
        <title>{% block title %}Городские ремонты - Официальный сайт{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/js/poshytip/src/tip-skyblue/tip-skyblue.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.maskedinput.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/poshytip/src/jquery.poshytip.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/main.js') }}"></script>
			{% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
				<noindex><script async src="data:text/javascript;charset=utf-8;base64,ZnVuY3Rpb24gbG9hZHNjcmlwdChlLHQpe3ZhciBuPWRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpO24uc3JjPSIvL2xwdHJhY2tlci5ydS9hcGkvIitlO24ub25yZWFkeXN0YXRlY2hhbmdlPXQ7bi5vbmxvYWQ9dDtkb2N1bWVudC5oZWFkLmFwcGVuZENoaWxkKG4pO3JldHVybiAxfXZhciBpbml0X2xzdGF0cz1mdW5jdGlvbigpe2xzdGF0cy5zaXRlX2lkPTEwMDUwO2xzdGF0cy5yZWZlcmVyKCl9O3ZhciBqcXVlcnlfbHN0YXRzPWZ1bmN0aW9uKCl7alFzdGF0Lm5vQ29uZmxpY3QoKTtsb2Fkc2NyaXB0KCJzdGF0c19hdXRvLmpzIixpbml0X2xzdGF0cyl9O2xvYWRzY3JpcHQoImpxdWVyeS0xLjEwLjIubWluLmpzIixqcXVlcnlfbHN0YXRzKQ=="></script></noindex>
			{% endif %}
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
		{% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
			{{ include('AppBundle:Default:counters.block.html.twig') }}
		{% endif %}
    </body>
</html>
